
<img src="" alt="userPic">
<h2>{{user.fullname}}</h2>
<a id="userInfo" href="#">user info</a>
<div class="disable">
<label for="firstName">{{user.firstname}}</label>
<label for="lastName">{{user.lastname}}</label>
<label for="email">{{user.email}}</label>
</div>

<ul>

{{#each userGoods}}
<li class="fruit__item">
  <div class="fruit__image" style="background-image: url({{this.imgUrls}})"></div>
  <div class="fruit__info">
    <h2 class="fruit__name">{{this.goodsName}}</h2>
    <h2 class="fruit__name">{{this.price}}</h2>
    <p class="fruit__name">{{this.description}}</p>
  </div>
</li>
{{/each}}

</ul>
